		*[data-vedor-hidden] {
			display: none !important;
		}
		*[data-vedor-field] {
			outline: 2px dashed rgba(128,128,128,0.3);
			transition: 0.6s outline-color ease, 0.6s background-color ease;
		}
		*[data-vedor-field]:hover {
			outline: 2px dashed rgba(128, 240, 210, 0.3);
		}
		*[data-vedor-field]:focus {
			outline: 2px dashed rgba(240, 210, 128, 0.3);
			background-color: rgba(128,128,128,0.2);
		}

		*[data-vedor-list]:not(.vedor-empty):before,
		*[data-vedor-list-item]:before {
			font-weight: normal;
			font-style: normal;
			font-family: FontAwesome;
			border: 1px solid #ccc;
			border-top: 2px solid #ea5922;
			background-color: white;
			color: #666;
			border-bottom-left-radius: 3px;
			border-bottom-right-radius: 3px;
			padding: 5px;
			position: absolute;
			margin-top: -24px;
			margin-left: 5px;
			opacity: 0.2;
			transition: 0.3s opacity ease;
			box-shadow: 0px 0px 2px #ccc;
			-webkit-box-shadow: 0px 0px 2px #ccc;
			-moz-box-shadow: 0px 0px 2px #ccc;
		}
		*[data-vedor-list]:not(.vedor-empty):hover:before,
		*[data-vedor-list-item]:hover:before {
			opacity: 1;
		}
		*[data-vedor-list-item]:before {
			content: "\f1b2"; /* cube */
			margin-left: 40px;
		}
		*[data-vedor-list]:not(.vedor-empty):before {
			content: "\f1b3"; /* cubes */
			margin-left: 0px;
		}

		#vedor-editor {
			font-family: arial;
		}

		i.vedor-logo {
			background-image: url('../vedor.png');
			background-size: contain;
			background-repeat: no-repeat;
			height: 25px;
		}
		.vedor-toolbar {
			font-family: arial;
			font-size: 11px;
			color: #666;
			background-color: white;
			-webkit-border-radius: 0px 0px 3px 3px;
			-moz-border-radius: 0px 0px 3px 3px;
			border-radius: 0px 0px 3px 3px;
			line-height: 0px;
			position: relative;
			border: 1px solid #aaa;
			border-top: 5px solid #ea5922;
			-webkit-box-shadow: 0px 0px 4px #CCC;
			-moz-box-shadow: 0px 0px 4px #CCC;
			box-shadow: 0px 0px 4px #CCC;
			z-index: 1000;
		}
		.vedor-toolbar::after, .vedor-toolbar > ul::after, .vedor-toolbar-section > ul::after {
			content: "";
			clear: both;
			display: block;
		}
		.vedor-toolbar .marker {
			content: "";
			display: block;
			position: absolute;
			margin-top: -12px;
			left: 50%;
			margin-left: -12px;
			width: 0;
			border-bottom: 12px solid #ea5922;
			border-top: 0px;
			border-left: 12px solid transparent;
			border-right: 12px solid transparent;
		}
		.vedor-toolbar > ul {
			background: linear-gradient(to bottom, white 0%, #FFF 95%, #DDD 100%);
			width: 100%;
		}
		.vedor-toolbar > ul,
		.vedor-toolbar > ul > li,
		.vedor-toolbar-section > ul,
		.vedor-toolbar-section > ul > li {
			margin: 0px;
			padding: 0px;
			border: 0px;
			list-style: none;
			white-space: nowrap;
		}
		.vedor-toolbar-section > ul > li.vedor-text-format {
			margin-right: 4px;
		}
		.vedor-toolbar li {
			xdisplay: inline-block;
			position: relative;
			float: left;
		}
		#vdTablePopup {
			left: 40px;
			top: 0px;
			padding-bottom: 20px;
			width: auto;
			height: auto;
		}
		#vdTableText {
			position: absolute;
			bottom: 10px;
			width: 100%;
		}
		#vdTablePreview table {
			border-spacing: 2px;
			border-collapse: separate;
			width: 110px;
			height: 110px;
		}
		
		.vedor-toolbar button {
			border: 0px;
			margin: 0px;
			padding: 0px 4px;
			background: transparent;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			position: relative;
			min-width: 50px;
			text-align: center;
			height: 60px;
			font-size: 11px;
			color: #666;
			box-sizing: border-box;
			font-weight: inherit;
			letter-spacing: 0;
			line-height: inherit;
			text-transform: inherit;
			font-family: inherit;
			box-shadow: inherit;			
		}
		.vedor-toolbar button > i,
		.vedor-toolbar button > span.fa-stack {
			line-height: 50px;
			font-size: 19px;
			display: inline-block;
			padding: 0px 4px;
			line-height: 34px;
			display: block;
			margin: -13px auto 0px;
    			position: relative;
		}
		.vedor-toolbar button.vedor-selected {
			background-color: #EEE;
			position: relative;
			border-left: 1px solid #DDD;
			border-right: 1px solid white;
		}
		.vedor-toolbar button.vedor-disabled {
			opacity: 0.3;
		}

		.vedor-toolbar button:focus {
			border-bottom: 2px solid orange !important;
		}

		button.vedor-selected::first-child {
			border-left: 0px;
		}
		button.vedor-selected::last-child {
			border-right: 0px;
		}

		.vedor-toolbar-section {
			background-color: #EEE;
			display: none;
			clear: both;
		}
		section.vedor-section.active {
			opacity: 1;
			z-index: 100000;
		}
		section.vedor-section {
			position: absolute;
			opacity: 0;
			-webkit-transition: opacity 0.2s ease-in-out;
			-moz-transition: opacity 0.2s ease-in-out;
			-ms-transition: opacity 0.2s ease-in-out;
			-o-transition: opacity 0.2s ease-in-out;
			transition: opacity 0.2s ease-in-out;
		}
		.tagStack li {
			padding-right: 5px;
		}
		.vedor-toolbar-section ul {
			background: linear-gradient(to bottom, #EEE 0%, #DDD 100%);
			padding: 4px 2px;
		}
		.vedor-toolbar-section.vedor-selected {
			display: block;
			white-space: nowrap; 
		}
		.vedor-toolbar-section button {
			height: 40px;
			min-width: 23px;
			border: 1px solid transparent;
		}
		.vedor-toolbar-section button > i,
		.vedor-toolbar-section button > span.fa-stack {
			font-size: 14px;
			line-height: 16px;
			width: 23px;
			margin: 0px auto 4px;
		}
		.vedor-toolbar-section button.vedor-selected {
			background-color: #D7D7D7;
			border: 1px solid #EEE;
			border-left: 1px solid #888;
			border-top: 1px solid #888;
			border-radius: 2px;
		}
		section.vedor-section {
			margin-bottom: 150px;
		}
		section.vedor-section h1 {
			font-size: 16px;
			font-weight: bold;
			display: none;
		}
		button.vedor-expands::after {
			content: "";
			display: block;
			position: absolute;
			bottom: 6px;
			left: 50%;
			margin-left: -3px;
			width: 0;
			border-top: 3px solid #888;
			border-bottom: 0px;
			border-left: 3px solid transparent;
			border-right: 3px solid transparent;
		}
		button.vedor-selected.vedor-expands::after {
			display: none;
		}
		.vedor-toolbar-section > div {
			padding-left: 80px;
		}

		.vedor-toolbar-section label {
			width: 60px;
			font-size: 12px;
			display: inline-block;
			font-weight: normal;
			padding-left: 10px;
			margin: inherit;
			margin-left: -80px;
			color: inherit;
		}
		.vedor-toolbar-section input,
		.vedor-toolbar-section select {
			background-color: white;
			margin-top: 3px;
			margin-bottom: 3px;
			border: 1px solid #888;
			border-bottom-color: #EEE;
			border-right-color: #EEE;
			border-radius: 2px;
			line-height: 22px;
			min-height: 22px;
			width: 100%;
			font-family: inherit;
			font-size: inherit;
			display: inline-block;
		}
		.vedor-toolbar-section select {
			padding: 4px 0px;
		}
		.vedor-toolbar button:focus {
			outline: none;
		}
		.vedor-context-html {
			padding-left: 8px;
			background-color: #EEE;
			background: linear-gradient(to bottom, #EEE 0%, #DDD 100%);			
			overflow: hidden;
		}
		.vedor-context-html ul,
		.vedor-context-html li {
			display: block;
			float: left;
		}
		a.vedor-context-tag {
			color: black;
			font-size: 11px;
			line-height: 12px;
			padding: 0px 2px;
			margin: 2px 0px;
			display: inline-block;
			cursor: pointer;
		}
		a.vedor-context-tag.vedor-selected {
			background-color: #CCC;
			border: 1px solid #EEE;
			border-left: 1px solid #888;
			border-top: 1px solid #888;
			border-radius: 2px;		
		}
		.vedor-context-html li:last-child a.vedor-context-tag::after {
			content: "";
		}

		/* larger style html context */
		a.vedor-context-tag {
			font-size: 12px;
			line-height: 14px;
			display: block;
			float: left;
			padding: 2px;
			margin: 2px;
			border: 1px solid #666;
			border-radius: 2px;
			color: black;
			background-color: #CCC;
		}
		a.vedor-context-tag.vedor-selected {
			background-color: #FFFFCC;
		}
		.vedor-float-right {
			float: right;
		}
		.vedor-toolbar button.vedor-small > i,
		.vedor-toolbar button.vedor-small > span.fa-stack {
			line-height: 24px;
			font-size: 14px;
			margin: 0px;
		}
		.vedor-toolbar button.vedor-small {
			height: auto;
			width: auto;
			min-width: 20px;
		}
		/* end */

		li.vedor-text-format {
			line-height: 32px;
			vertical-align: top;
			width: 100%;
		}

		input[type="number"] {
			width: 40px;
		}
		.vedor-slideshow-properties input,
		.vedor-gallery-properties input,
		.vedor-table-width input,
		.vedor-table-height input,
		.vedor-cell-width input,
		.vedor-cell-height input {
			width: 40px;
		}
		li.vedor-seperator label:before {
			display: block;
			position: absolute;
			border-left: 1px solid #DDD;
			border-right: 1px solid white;
			height: 40px;
			content: "";
			margin-top: -14px;
			margin-left: -4px;
		}

		label.vedor-subsection {
			text-align: center;
			vertical-align: top;
			line-height: 14px;
		}
		.vedor-disabled {
			color: #BBB;
		}
		#vdTextStyle {
			height: auto;
			width: auto;
			overflow-x: inherit;
			margin-left: auto;
			padding: auto;
		}
		.vedor-cell-width select,
		.vedor-cell-height select,
		.vedor-table-width select,
		.vedor-table-height select {
			width: 40px;
		}
		button[data-vedor-section=vedor-clipboard],
		.vedor-clipboard {
			display: none;
		}
		.vedor-context-html {
			xdisplay: none;
		}
		#editorPane, #vdMetaDataSlide {
			-webkit-overflow-scrolling: touch !important;
		}
		/* vedor dropdown list */
		.vedor-list {
			display: inline-block;
			position: relative;
			-webkit-user-select: none;
		}
		ul.vedor-list-items {
			position: absolute;
			width: 100%;
			min-width: 120px;
			background-color: white;
			box-sizing: border-box;
			padding: 2px;
			display: none;
			margin: 0;
			border: 1px solid #ccc;
		}
		.vedor-list-items li {
			list-style: none;
			float: none;
			padding: 2px 4px;
		}
		.vedor-list-items input {
			margin-right: 5px;
		}
		.vedor-list-items label {
			font-size: 13px;
			line-height: 18px;
			font-weight: normal;
			display: block;
		}
		.vedor-list.visible .vedor-list-items {
			display: block;
		}
		/* context menu */
		.vedor-context-section {
			position: absolute;
			right: 20px;
			top: 130px;
			width: 210px;
			height: 240px;
			border: 1px solid #ccc;
			box-shadow: 0px 0px 5px #888;
			padding: 5px;
			background: #F4F4F4;
			display: none;
		}
		.vedor-context-section.vedor-selected {
			display: block;
		}
		.vedor-context-section .vedor-close {
			position: absolute;
			top: -18px;
			right: -18px;
			width: 36px;
			height: 36px;
			background-image: url('<pinp> make_url(currentsite()); </pinp>graphics/close.png');
			margin: 0px;
			padding: 0px;
			border: 0px;
			min-width: 36px;
		}
		.vedor-context-section iframe {
			border: 0px;
			margin: 0px;
			padding: 0px;
			width: 100%;
			height: 100%;
		}
		.vedor-context-section.vedor-help {
			top: 200px;
			left: 50%;
			width: 400px;
			height: 250px;
			margin-left: -200px;
		}

#vedor-main-toolbar {
	left: 0px !important;
	opacity: 1 !important;
	position: fixed;
	margin-bottom: auto;
	top: 0px;
	right: 0px;
}
#vedor-main-toolbar .vedor-toolbar {
	position: static;
}
#vedor-main-toolbar .vedor-toolbar:before {
	display: none;
}

#vedor-main-toolbar .vedor-selected {
	border: 0px;
}
#vdToolbars {
	height: auto;
	border: 0px;
	margin-right: 0px;
}
#vdEditPane {
	border: 0px;
}
#vedor-main-toolbar .vedor-buttons {
	white-space: normal;
}
#vedor-main-toolbar > .vedor-toolbar > ul.vedor-buttons > li.vedor-seperator {
	border-right: 1px solid #ddd;
	height: 58px;
	vertical-align: top;
}
#vedor-main-toolbar i.vedor-logo {
	margin-bottom: 10px;
	position: relative;
	top: 4px;
	width: 24px;
	box-sizing: border-box;
}
.vedor-hidden {
	display: none !important;
}

/* Dialogs */
.vedor-dialog {
	display: none;
}
.vedor-dialog.active {
	display: block;
	border: 1px solid #aaa;
	border-top: 5px solid #ea5922;
	background-color: white;
	font-family: arial, helvetica, sans-serif;
	color: black;
	padding: 0px;
	position: fixed;
	z-index: 100000;
	box-shadow: 0px 0px 8px #444;
}

.vedor-toolbar .vedor-right {
	float: right;
}
.vedor-dialog .marker {
	display: none;
}
.vedor-dialog .vedor-toolbar {
	border: 0;
	border-top: 1px solid #eee;
	box-shadow: none;
	width: 100%;
}
.vedor-dialog-body {
	padding: 66px 5px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
.vedor-dialog-body:first-child {
	padding: 5px;
}
.vedor-dialog .vedor-toolbar:first-child {
	position: absolute;
	top: 0px;
}
.vedor-dialog .vedor-toolbar:last-child {
	position: absolute;
	bottom: 0px;
}

@media (max-width: 481px) {
	.vedor-dialog {
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		max-width: 100%;
		max-height: 100%;
		height: auto;
		width: auto;
		margin-left: 0px;
		margin-top: 0px;
	}
	[data-vedor-action="vedor-dialog-fullscreen"] {
		display: none;
	}
}

.vedor-empty[data-vedor-list] {
	min-height: 24px;
	background-color: rgba(128,128,128,0.1);
	outline: 2px dashed rgba(128,128,128,0.3);
	text-align: center;
}
.vedor-empty[data-vedor-list]:before {
	content: "\f1b3"; /* cubes */
	text-align: center;
	font-family: FontAwesome;
	font-size: 20px;
	color: #888;
	width: 100%;
	line-height: 24px;
	vertical-align: middle;
	padding-top: 5px;
}
.vedor-empty[data-vedor-list]:after {
	content: "(Empty list)";
	text-align: center;
	font-family: arial;
	font-size: 12px;
	color: #888;
	width: 100%;
	line-height: 24px;
	vertical-align: middle;
	padding-bottom: 5px;
}

/* plain view */
body.vedor-plain [data-vedor-field],
body.vedor-plain [data-vedor-list],
body.vedor-plain [data-vedor-list-item] {
	display: block !important;
	position: static !important;
	vertical-align: top;
	margin-left: 20px;
}
body.vedor-plain [data-vedor-field]:before {
	content: "(Field) " attr(data-vedor-field);
}
body.vedor-plain [data-vedor-list]:before {
	content: "(List) " attr(data-vedor-list);
	position: static;
	opacity: 1;
}
body.vedor-plain [data-vedor-list-item]:before {
	content: "(List item) " attr(data-vedor-template);
	position: static;
	opacity: 1;
}

body.vedor-plain [data-vedor-list]:before,
body.vedor-plain [data-vedor-list-item]:before,
body.vedor-plain [data-vedor-field]:before {
	border: 1px solid #999;
	border-radius: 24px;
	background-color: #eee;
	color: #333;
	display: inline-block;
	width: auto;
	margin: 5px;
	padding: 5px;
	font-size: 12px;
	font-family: arial;
	font-weight: normal;
	font-style: normal;
}
