.vedor-text-align-left {
	text-align: left;
}
.vedor-text-align-right {
	text-align: right;
}
.vedor-text-align-center {
	text-align: center;
}
.vedor-text-align-justify {
	text-align: justify;
}

.vedor-image-align-left {
	float: left;
}
.vedor-image-align-right {
	float: right;
}
.vedor-image-align-middle {
	vertical-align: middle;
}
.vedor-image-align-top {
	vertical-align: top;
}
.vedor-image-align-bottom {
	vertical-align: bottom;
}
.vedor-overflow-hidden {
	overflow: hidden;
}